/* Styling untuk body agar background lebih ringan */
body {
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling untuk container form login, agar berada di tengah-tengah */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling untuk card */
.card {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Styling untuk form */
.form-group {
    margin-bottom: 15px;
}
